<section class="">
  <div class="py-4 lg:py-16 px-4 mx-auto max-w-screen-md ">
    <div class="p-2 bg-gray-50 rounded-lg shadow-black shadow-xl bg-opacity-70">
    <h2 class="mb-4 sm:text-4xl text-3xl tracking-tight font-bold text-center text-black p-4 underline ">Elérhetőségek</h2>
    <h3 class="mb-4 sm:text-4xl text-2xl tracking-tight font-bold text-center text-black ">🏠: 2030 Érd, Éva u. 17</h3>
    <h3 class="mb-4 sm:text-4xl text-2xl tracking-tight font-bold text-center text-black ">✉️: mezedeskft&#64;gmail.com</h3>
    <h3 class="mb-4 sm:text-4xl text-2xl tracking-tight font-bold text-center text-black ">📞: +36-70/701-8402</h3>
    </div>
    <p class="pt-10 lg:mb-6 text-center font-bold sm:text-3xl">Ha bármilyen kérdésed van, ne habozz!</p>
    <img src="assets/mottoszoveg.png" class="" alt="">
    <form action="#" class="space-y-8" hidden="hidden">
      <div>
        <label for="email" class="block mb-2 text-sm font-medium">E-mail cím</label>
        <input type="email" id="email" class="shadow-sm bg-gray-50 border border-black text-sm rounded-lg
         focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 " placeholder="nev@email.com" required>
      </div>
      <div>
        <label for="subject" class="block mb-2 text-sm font-medium ">Tárgy</label>
        <input type="text" id="subject" class="block p-3 w-full text-sm bg-gray-50 rounded-lg border
        border-black shadow-sm focus:ring-primary-500 focus:border-primary-500" placeholder="Mivel kapcsolatban van kérdésed?" required>
      </div>
      <div class="sm:col-span-2">
        <label for="message" class="block mb-2 text-sm font-medium">Üzenet</label>
        <textarea id="message" rows="6" class="block p-2.5 w-full text-sm bg-gray-50 rounded-lg shadow-sm
         border border-black focus:ring-primary-500 focus:border-primary-500 " placeholder="Írd le az üzeneted."></textarea>
      </div>
      <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-black
      sm:w-fit hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-primary-300 ">Küldés</button>
    </form>
  </div>
</section>
