<!--

<nav class="bg-white border-gray-200 border-b-2 dark:bg-white">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
    <a href="app.component.html" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="assets/logo.png" class="h-10" alt="Mézédes Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap ">Mézédes</span>
    </a>
    <div class="flex items-center space-x-6 rtl:space-x-reverse">
      <button href="#" class="text-4xl pr-6 text-blue-600 dark:text-blue-500 hover:underline">🧺</button>
    </div>
  </div>
</nav>


<nav class="bg-black text-white">
  <div class="max-w-screen-xl px-4 py-3 mx-auto">
    <div class="flex items-center">
      <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm sm:text-xl">
        <li>
          <a routerLink="home" class=" hover:underline" aria-current="page">Főoldal</a>
        </li>
        <li>
          <a routerLink="honey" class="hover:underline">Mézek</a>
        </li>
        <li>
          <a routerLink="gallery" class="hover:underline">Galéria</a>
        </li>
        <li>
          <a routerLink="news" class="hover:underline">Cikkek</a>
        </li>
        <li>
          <a routerLink="contact" class="hover:underline">Kapcsolat</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

-->
<nav class="bg-white border-gray-200 border-b-2 dark:bg-white">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
    <a routerLink="home" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="assets/logo.png" class="h-10" alt="Mézédes Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap ">Mézédes</span>
    </a>
  </div>
</nav>
<ul class="flex flex-wrap justify-center text-lg  text-center text-white bg-black border-b border-gray-200 ">
  <li class="me-2">
    <a routerLink="home" aria-current="page" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">Főoldal</a>
  </li>
  <li class="me-2">
    <a routerLink="honey" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50  ">Mézünk</a>
  </li>
  <li class="me-2">
    <a routerLink="gallery" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 ">Galéria</a>
  </li>
  <li class="me-2">
    <a routerLink="news" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 ">Cikkek</a>
  </li>
  <li class="me-2">
    <a routerLink="contact" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 ">Kapcsolat</a>
  </li>
</ul>




