<div class="p-4">
<h1 class="text-center text-4xl font-bold tracking-tight md:text-5xl xl:text-6xl p-6 bg-white bg-opacity-50 rounded">Galéria</h1>
<!---->
<div class="grid grid-cols-1 md:grid-cols-3 md:p-20 gap-4 py-4 w-full">

  <div>
    <img class="h-auto max-w-full rounded-lg shadow-lg shadow-black" src="assets/gallery2.JPG" alt="">
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg shadow-lg shadow-black" src="assets/gallery3.JPG" alt="">
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg shadow-lg shadow-black" src="assets/gallery4.JPG" alt="">
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg shadow-lg shadow-black" src="assets/gallery5.JPG" alt="">
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg shadow-lg shadow-black" src="assets/gallery6.JPG" alt="">
  </div>
  <div>
    <img class="h-full max-w-full rounded-lg shadow-lg shadow-black" src="assets/gallery10.JPG" alt="">
  </div>
  <div>
    <img class="h-full max-w-full rounded-lg shadow-lg shadow-black" src="assets/gallery1.jpg" alt="">
  </div>
  <div>
    <img class="h-full max-w-full rounded-lg shadow-lg shadow-black" src="assets/gallery7.JPG" alt="">
  </div>
  <div>
    <img class="h-full max-w-full rounded-lg shadow-lg shadow-black" src="assets/gallery8.JPG" alt="">
  </div>
  <div>
    <img class="h-full max-w-full rounded-lg shadow-lg shadow-black" src="assets/gallery9.JPG" alt="">
  </div>

</div>

</div>
