
<!-- Container for demo purpose -->
<div class="container mx-auto md:px-6 p-6">
  <!-- Section: Design Block -->
  <section class="mb-32 text-center">
    <h2 class="mb-12 p-4 text-center text-4xl font-bold bg-opacity-50 bg-white rounded">
      Tudásbázis
    </h2>

    <div class="grid gap-6 lg:grid-cols-3 xl:gap-x-12">

      <div class="mb-6 lg:mb-0">
        <div
          class="relative block rounded-lg bg-white bg-opacity-70 shadow-2xl shadow-black">
          <div class="flex justify-center">
            <div
              class="relative mx-4 -mt-4 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20"
              data-te-ripple-init data-te-ripple-color="light">
              <img routerLink="/news/articles/1" src="assets/biokrol250.png" class="w-full" alt=""/>
              <a routerLink="/news/articles/1">
                <div
                  class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,.15)]">
                </div>
              </a>
            </div>
          </div>
          <div class="p-6">
            <h5 class="mb-3 text-2xl font-bold">Bio Mézekről</h5>
            <p class="mb-4 pb-2">
              <a class="font-bold">Miért van jelentősége a bioméhészetnek, és miért elengedhetetlen a bioméz?</a>
              A méz és minden egyes méhészeti termék csak akkor minősül kiválónak,
              ha vigyázunk rájuk, hiszen számos módon könnyen tönkretehetők. . .

            </p>
            <button routerLink="/news/articles/1" class="bg-black text-white p-2 rounded-md hover:bg-gray-500">Olvass tovább</button>
          </div>
        </div>
      </div>

      <div class="mb-6 lg:mb-0">
        <div
          class="relative block rounded-lg bg-white bg-opacity-70 shadow-2xl shadow-black">
          <div class="flex justify-center">
            <div
              class="relative mx-4 -mt-4 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20"
              data-te-ripple-init data-te-ripple-color="light">
              <img routerLink="/news/articles/2" src="assets/honey-bee-250.png" class="w-full" />
              <a routerLink="/news/articles/2">
                <div
                  class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,.15)]">
                </div>
              </a>
            </div>
          </div>
          <div class="p-6">
            <h5 class="mb-3 text-2xl font-bold">A Méh és az Ember kapcsolata</h5>
            <p class="mb-4 pb-2">
              <a class="font-bold">Az emberiség túlélése méhek nélkül elképzelhetetlen lenne.</a>
              Az őskor embere már nagy értéket tulajdonított a méhek termékeinek.
              Mézet, virágport, petét, lárvát – mindezt elfogyasztotta, hozzájárulva ezzel saját életének fenntartásához. . .
            </p>
            <button routerLink="/news/articles/2" class="bg-black text-white p-2 rounded-md hover:bg-gray-500">Olvass tovább</button>
          </div>
        </div>
      </div>

      <div class="mb-6 lg:mb-0">
        <div
          class="relative block rounded-lg bg-white bg-opacity-70 shadow-2xl shadow-black">
          <div class="flex justify-center">
            <div
              class="relative mx-4 -mt-4 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20"
              data-te-ripple-init data-te-ripple-color="light">
              <img routerLink="/news/articles/3" src="assets/question.png" class="w-full"  alt=""/>
              <a routerLink="/news/articles/3">
                <div
                  class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,.15)]">
                </div>
              </a>
            </div>
          </div>
          <div class="p-6">
            <h5 class="mb-3 text-2xl font-bold">Tévhitek a méhekről , és a mézről</h5>
            <p class="mb-4 pb-2">
            <a class="font-bold">Honnan származik a méz?</a>
              Sokan azt hiszik, hogy a méz virágporból keletkezik.
              Mások azt gondolják, hogy a méz a méhek ürüléke, mellékterméke, vagy esetleg gyomrának kiürítése.
              Habár a méhek valóban gyűjtenek virágport(amely a méz. . .
            </p>
            <button routerLink="/news/articles/3" class="bg-black text-white p-2 rounded-md hover:bg-gray-500">Olvass tovább</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
