

<div *ngIf="articleId === 1" class="text-xl text-black bg-white bg-opacity-80 rounded p-12 mx-12 mb-10">
  <img src="assets/biokrol250.png" class="w-1/8 mb-2" alt=""/>
  <p class="mb-4 font-bold text-2xl ">A Bio Mézekről bővebben</p>

  <p class="mb-4 font-bold ">Miért van jelentősége a bioméhészetnek, és miért elengedhetetlen a bioméz?</p>

  <p class="mb-4">A méz és minden egyes méhészeti termék csak akkor minősül kiválónak, ha vigyázunk rájuk, hiszen számos módon könnyen tönkretehetők. A biominőségről kialakult két szélsőséges nézet értelmetlen és túlzó.</p>

  <p class="mb-4">Az állításokat részletezzük! Lehet-e bio az a méz, amelyet a méhész olyan területen gyűjt, ahol még sosem járt ember, miközben maga a kaptárban alkalmaz vegyszereket, füstöl, permetez? Számos vegyszer felhalmozódhat a viaszban, amelynek egy része átjut a mézbe a pergetés során, ez pedig nem csak a méhek számára káros, hanem az emberek számára is. Bár a méheknek nem lehet parancsolni, de irányítani azokat igen. A megfelelő intézkedésekkel (például megfelelő távolságtartás a szennyező forrásoktól, figyelembe véve a röpkörzet szerkezetét és méreteit) elkerülhetők a káros anyagok.</p>

  <p class="mb-4">A bioméhésznek is gondoskodnia kell méheiről a kaptáron belül, de olyan szerves anyagokat (például illóolajokat) használ, amelyek nem ártalmasak az emberre, és nem befolyásolják a termék minőségét az alkalmazástól a fogyasztásig terjedő időszak alatt.</p>

  <p class="mb-4">A bioméhész nyilvánosságra hozza állományának jelenlegi helyét, tevékenységét pedig az egész termelési folyamat alatt és még a késztermék után is ellenőrzik. Ez az ellenőrzés egy nemzetközileg elismert szervezet (Magyarországon például a Biokontroll Hungária Nonprofit Kft.) által történik, és a kiadott igazolást a fogyasztó kérésre bemutathatja.</p>
  <!-- Add the remaining paragraphs with the same class as needed -->

  <p class="mb-4 font-bold text-xl ">Mi teszi "bio" jellegűvé a biomézet?</p>

  <p class="mb-4">A bioméz lényegében az, amikor tiszta, vegyszermentes méhlegelőről származik, és a gyűjtés során nem tartalmaz vegyszer-, gyógyszer-, antibiotikum-maradványokat. A biogazdálkodásnak szélsőséges megközelítéseket kell elkerülnie, mivel a Föld valódi működésének fenntarthatóságát veszi figyelembe, és nem idegenkedik a természettől és a környezettől. A bioméhészet hasonlóképpen igyekszik ebben a mederben maradni, anélkül, hogy másról szólna.</p>
  <p class="mb-4">A méhek számára kulcsfontosságú a tiszta, vegyszermentes vagy minimális vegyszeres méhlegelő biztosítása. Ha a méhek egész szezonban képesek virágport és mézet gyűjteni, akkor a megfelelő táplálékkal számos méhbetegség megelőzhető. A gyógyszerek alkalmazásának elkerülésével elkerülhető, hogy gyógyszermaradványok kerüljenek a mézbe.</p>
  <p class="mb-4">A hagyományos méhészetben gyakran alkalmaznak különböző antibiotikumokat a méhek betegségeinek megelőzésére vagy kezelésére. Az ilyen anyagok, gyógyszerek és antibiotikumok helytelen használata gyakran vezethet a szermaradványok mézbe kerüléséhez. A bioméhészetben az antibiotikumok használata tiltott.</p>
  <p class="mb-4">A Varroa atka ellen természetes anyagokat (tejsav, oxálsav, hangyasav) alkalmaznak, amelyek kis mennyiségben előfordulhatnak a mézben, sóskában és tejben is. Az illóolajok és a porcukor is használható az atkák ellen. Számos atkaölő szer jelentős kárt okozhat mind a méheknek, mind azokat alkalmazó méhészeknek. A mézbe került szermaradványok nemcsak a méhek szaporulatára, hanem az emberi egészségre is károsak lehetnek.</p>

  <p class="mb-4 font-bold text-xl ">A méhek sok kilométerre repülnek, hogy virágport és mézet gyűjtsenek. Hogyan lehet mégis "bio" a méz?</p>
  <p class="mb-4">Bár a méhek akár 5-6 km-re is elrepülhetnek virágport és mézet gyűjteni, a hereméhek akár 10 km-re is repülhetnek a méhanya párzása miatt. A nagyobb gyűjtés azonban általában 3 km-es körzetben történik. Sajnos a mezőgazdaságban az elmúlt évtizedekben használt sok vegyszer miatt a környezeti terhelés növekedett. A bioméhészet azonban körültekintően választja ki a méhlegelőt, hogy minimalizálja a külső környezeti hatásokat. Fontos, hogy a bioméhészet körülbelül 3 km-es körzetében ne legyen olyan jelentős forrás, amely környezetszennyezést okoz, például autópálya, kibocsátó üzemek vagy vegyszeres kezelés alatt álló kultúrnövények.</p>

  <p class="mb-4 font-bold ">Miért érdemes a biomézet választani? Mitől különleges?</p>

  <p class="mb-4">Sokan csak mostanában kezdik felismerni, hogy a mindennapi táplálkozásból hiányoznak az ásványi anyagok és vitaminok. A bioméz tiszta élelmiszer, teljes értékű vitaminokat, enzimeket, aminosavakat, valamint illat- és aromaanyagokat tartalmaz. A bioméz mentes az egészségre káros antibiotikumoktól, vegyszerektől és gyógyszermaradványoktól.</p>

  <p class="mb-4">A bioméhészek felelőssége, hogy megőrizzék a méz élő anyagainak (vitaminok, enzimek, aminosavak) minőségét. A mézet a kristályos állapotból újra folyós állapotba lehet hozni, de ezt 38°C alatt kell elvégezni, hogy a mézben lévő élő anyagok ne sérüljenek, és az íz és aromaanyagok is megmaradjanak.</p>
</div>

<div *ngIf="articleId === 2" class="text-xl text-black bg-white bg-opacity-80 rounded p-12 mx-12 mb-10">
  <img src="assets/honey-bee-250.png" class="w-1/8 mb-2" alt=""/>
  <p class="mb-4 font-bold text-2xl ">A Méh és az Ember kapcsolata</p>

  <p class="mb-4 font-bold ">Az emberiség túlélése méhek nélkül elképzelhetetlen lenne.</p>

  <p class="mb-4">Az őskor embere már nagy értéket tulajdonított a méhek termékeinek. Mézet, virágport, petét, lárvát – mindezt elfogyasztotta, hozzájárulva ezzel saját életének fenntartásához. Az ókori kultúrák a méheket a jótét lelkek közé sorolták, és rajzaikon, faragványaikon megörökítették őket. A középkorban továbbra is tisztelték a méheket, kihasználva értékes termékeiket, mint például a méz és a viasz, melyeket gyakran felhasználtak címereiken a pápák, királyok és nemesek. Az újkorban a méhészet terén elindult a kutatás és a technikai fejlesztés, bár a tökéletes kaptár még mindig várat magára. A méhészkedés azonban keresett foglalkozássá vált a papok, tanítók, erdészek, vasutasok és mások számára.</p>

  <p class="mb-4">Valójában a méheknek is megvannak a természettel szembeni határaik, különösen a monokultúrák és a vegyszerek okozta természetellenes igénybevétel esetén. A jelenlegi korszerű méhészetben gyakran elhagyják az elnéptelenedett kaptárakat, és a méheket azokra hagyják, hogy maguktól pusztuljanak el. A mai növénytermesztés sem kedvez a méheknek, mivel a vegyszerek környezeti károkozását sem számolja fel megfelelően. Azonban mindkét területen lehetne és kellene is javítani a helyzeten.</p>

  <p class="mb-4 font-bold ">Az emberek tudása a méhekről és a mézről általában korlátozott.</p>

  <p class="mb-4">Legtöbben csak azt tudják, hogy a méhek szúrnak, és hogy a méz édes, de hamisítható. Ennek ellenére ez a tudás kevésnek bizonyulhat. Kérdésként merül fel, hogy mit tudunk napjainkban a méhekről és a mézről. Elég-e ez a tudás ahhoz, hogy megértsük a méhek fontosságát és szerepüket?</p>

  <p class="mb-4">Az emberek gyakran tartanak a méhektől, amit már gyermekként is megtanulnak a mesékből és rajzfilmekből. Ugyanakkor más állatokkal kapcsolatban ismerjük a veszélyeket, például a ló rúg, a kutya harap, a macska karmol, mégis velük kötünk barátságokat. A méheknél is fontos a megfelelő tájékoztatás, hogy az emberek tudják, hogyan kerülhetik el a méhszúrást. A valóságban a méhektől való félelem megfelelő védőfelszereléssel, nyugodt viselkedéssel és mérsékelt óvatossággal minimalizálható. Ne féljünk a méhektől!</p>
</div>

<div *ngIf="articleId === 3" class="text-xl text-black bg-white bg-opacity-80 rounded p-12 mx-12 mb-10">
  <img  src="assets/question.png" class="w-1/8 mb-2" alt=""/>
  <p class="mb-4 font-bold text-2xl ">Tévhitek a méhekről , és a mézről</p>

  <p class="mb-4 font-bold ">Honnan származik a méz?</p>
  <p class="mb-4">Sokan azt hiszik, hogy a méz virágporból keletkezik. Mások azt gondolják, hogy a méz a méhek ürüléke, mellékterméke, vagy esetleg gyomrának kiürítése. Habár a méhek valóban gyűjtenek virágport (amely a méz után a második fő táplálékuk), ez mégsem a méz alapanyaga. A méz valójában virágos növények nektárjából, vagy a növények levelein található édes nedvekből, a "mézharmatból" készül a méhek segítségével. A méhek ezeket az édes nedveket gyűjtik, majd saját mirigyváladékkal összekeverve a mézgyomrukban átalakítják, és a lépekben lévő sejtekbe öntve, mézzé érlelik.</p>

  <p class="mb-4 font-bold ">Mit fogyasztanak télen a méhek, és alszanak-e téli álmot?</p>
  <p class="mb-4">Egy méhcsalád évente akár 200 kg mézet is összegyűjthet. A méhészek egy része elveszi tőlük ezt a mézet, más részüket hagyják nekik tápláléknak. A méhek nem alszanak téli álmot, de a hideg hatására anyagcsere-folyamataik lelassulnak. A tél során egy családnak 15-20 kg mézre van szüksége, amelyet szeptember végéig saját maguk által gyűjtött mézből kell tárolniuk. A felelős méhész feladata megállapítani a téli élelemkészletet, és ha az kevésnek bizonyul, szeptember végéig pótolnia kell azt. Az utóbbi időben egyre gyakoribbá vált a téli méz helyettesítése cukorsziruppal, amelyet a méhek szintén mézzé alakíthatnak.</p>

  <p class="mb-4 font-bold ">Egyenértékű-e a cukorszirupból készült méz a nektárból vagy "mézharmatból" származó mézzel?</p>
  <p class="mb-4">A cukorszirupból készült méz nem pótolhatja a természetes mézet. A méz tartalmaz vasat, rezet, mangánt, szilíciumot, kalciumot, káliumot, nátriumot, foszfort, magnéziumot, valamint vitaminokat, enzimeket, aminosavakat, illat- és aromaanyagokat, amelyek nélkülözhetetlenek a méhek immunrendszerének egészséges működéséhez. A cukor szinte kizárólag szénhidrátot tartalmaz, így nem nyújt teljes értékű táplálékot a méhek számára.</p>

  <p class="mb-4 font-bold ">Van-e betegsége a méheknek, és hogyan kezelhetők azok?</p>
  <p class="mb-4">Mint minden élőlényt, a méheket is fenyegetik különféle betegségek. Baktériumokkal, gombákkal, vírusokkal és élősködőkkel kell megküzdeniük mindennap, és a megfelelő táplálás, gondos gondozás és a méhbetegségek megelőzése segíthet az erős immunrendszer fenntartásában.</p>
  <p class="mb-4">Gyakran előfordul, hogy a méhek megbetegszenek, és a méhészek antibiotikumokkal és más gyógyszerekkel próbálják gyógyítani őket. Az állatorvosok általában nem vállalják a méhek közvetlen kezelését, így a méhészek alternatív gyógymódokhoz folyamodnak. Az antibiotikumok és más vegyi anyagok nemcsak a méheket, hanem a méhészeket is károsíthatják, és a mézbe is bekerülhetnek, amit aztán az üzletekben árusítanak.</p>
</div>



<!-- Container for demo purpose -->
<div class="container mx-auto md:px-6 p-6">
  <!-- Section: Design Block -->
  <section class="mb-32 text-center">
    <h2 class="mb-12 p-4 text-center text-4xl font-bold bg-opacity-50 bg-white rounded">
      További cikkek
    </h2>
    <div class="grid gap-6 lg:grid-cols-2 xl:gap-x-12">

      <div *ngIf="articleId === 2 || articleId === 3" class="mb-6 lg:mb-0">
        <div
          class="relative block rounded-lg bg-white bg-opacity-70 shadow-2xl shadow-black">
          <div class="flex justify-center">
            <div
              class="relative mx-4 -mt-4 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20"
              data-te-ripple-init data-te-ripple-color="light">
              <img routerLink="/news/articles/1" src="assets/biokrol250.png" class="w-full" alt=""/>
              <a routerLink="/news/articles/1">
                <div
                  class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,.15)]">
                </div>
              </a>
            </div>
          </div>
          <div class="p-6">
            <h5 class="mb-3 text-2xl font-bold">Bio Mézekről</h5>
            <p class="mb-4 pb-2">
              <a class="font-bold">Miért van jelentősége a bioméhészetnek, és miért elengedhetetlen a bioméz?</a>
              A méz és minden egyes méhészeti termék csak akkor minősül kiválónak,
              ha vigyázunk rájuk, hiszen számos módon könnyen tönkretehetők. . .

            </p>
            <button routerLink="/news/articles/1" class="bg-black text-white p-2 rounded-md hover:bg-gray-500">Olvass tovább</button>
          </div>
        </div>
      </div>

      <div *ngIf="articleId === 1 || articleId === 3" class="mb-6 lg:mb-0">
        <div
          class="relative block rounded-lg bg-white bg-opacity-70 shadow-2xl shadow-black">
          <div class="flex justify-center">
            <div
              class="relative mx-4 -mt-4 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20"
              data-te-ripple-init data-te-ripple-color="light">
              <img routerLink="/news/articles/2" src="assets/honey-bee-250.png" class="w-full" />
              <a routerLink="/news/articles/2">
                <div
                  class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,.15)]">
                </div>
              </a>
            </div>
          </div>
          <div class="p-6">
            <h5 class="mb-3 text-2xl font-bold">A Méh és az Ember kapcsolata</h5>
            <p class="mb-4 pb-2">
              <a class="font-bold">Az emberiség túlélése méhek nélkül elképzelhetetlen lenne.</a>
              Az őskor embere már nagy értéket tulajdonított a méhek termékeinek.
              Mézet, virágport, petét, lárvát – mindezt elfogyasztotta, hozzájárulva ezzel saját életének fenntartásához. . .
            </p>
            <button routerLink="/news/articles/2" class="bg-black text-white p-2 rounded-md hover:bg-gray-500">Olvass tovább</button>
          </div>
        </div>
      </div>

      <div *ngIf="articleId === 1 || articleId === 2" class="mb-6 lg:mb-0">
        <div
          class="relative block rounded-lg bg-white bg-opacity-70 shadow-2xl shadow-black">
          <div class="flex justify-center">
            <div
              class="relative mx-4 -mt-4 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20"
              data-te-ripple-init data-te-ripple-color="light">
              <img routerLink="/news/articles/3" src="assets/question.png" class="w-full"  alt=""/>
              <a routerLink="/news/articles/3">
                <div
                  class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,.15)]">
                </div>
              </a>
            </div>
          </div>
          <div class="p-6">
            <h5 class="mb-3 text-2xl font-bold">Tévhitek a méhekről , és a mézről</h5>
            <p class="mb-4 pb-2">
              <a class="font-bold">Honnan származik a méz?</a>
              Sokan azt hiszik, hogy a méz virágporból keletkezik.
              Mások azt gondolják, hogy a méz a méhek ürüléke, mellékterméke, vagy esetleg gyomrának kiürítése.
              Habár a méhek valóban gyűjtenek virágport(amely a méz. . .
            </p>
            <button routerLink="/news/articles/3" class="bg-black text-white p-2 rounded-md hover:bg-gray-500">Olvass tovább</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
